@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

.about-us-container h1 {
    font-family: Cinzel Decorative;
    color: #eeeeee;
    font-size: 2.8em;
    margin-bottom: 20px;
}

.about-us-container p {
    font-size: 1.4em;
    font-family:  'Roboto Condensed', sans-serif;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #EEEEEE;
    text-align: center;
}

.about-us-container {
    text-align: center;
    padding: 20px;
    margin-top: 70px;
}

.image-abd img {
    width: 100%;
    max-width: 200px; 
    height: auto;
    border-radius: 48%; 
    margin: 20px 0;
}

.about-content {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.6;
    color: #EEEEEE;
    padding: 20px;
}