.about-us-container {
    color: white;
    background-color: transparent;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.about-us-container h1 {
    font-family: Cinzel Decorative;
    color: #eeeeee;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-us-container p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}
