.home-container {
    padding: 20px;
    max-width: auto;
    margin: 20px auto;
    text-align: left;
}

.hero, .about, .features {
    margin-bottom: 10px; 
}

.hero h2, .about h2, .features h2 {
    color: #EEEEEE;
    margin-bottom: 10px; 
}

.hero p{
    width: 700px;
    color: #EEEEEE;
    line-height: 1.6;
    margin-bottom: 10px;
}

.about p, .features p {
    color: #EEEEEE;
    line-height: 1.6;
    margin-bottom: 10px;
}

.home-container h1 {
    font-family: "Cinzel Decorative", serif;
    color: #EEEEEE;
    font-size: 90px;
    text-align: left; 
}

.hero p, .about p, .features p {
    text-align: left;
}

.hero, .about, .features {
    padding-left: 20px;
}
.features ul {
    list-style-type: none;
    padding: 0;
}

.features li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
}
