header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: rgba(54, 53, 53, 0.15); 
    backdrop-filter: blur(10px); 
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-home {
    font-size: 18px;
    font-weight: bold;
}

.navbar-home a {
    color: #fff;
    text-decoration: none;
}

.Navbarul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Navbarul li {
    margin-left: 20px;
}

.Navbarul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.Navbarul li a:hover {
    color: #14ffef;
}
