.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.register-form {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.register-form h1 {
    margin-bottom: 1rem;
    color: #ffffff;
}

.register-form span {
    margin-bottom: 1rem;
    color: #ffffff;
}

.register-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
}

.register-form input::placeholder {
    color: #ffffff;
}

.register-form button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.register-form button:hover {
    background: rgba(255, 255, 255, 0.5);
}
