
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: black; 
    color: #eeeeee;
  }
  
  .app-container {
    display: grid;
    grid-template-areas: 'header header'
                          'content-wrapper content-wrapper'
                          'sidebar-cont display-content'
                          'footer footer';
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 200px 1fr; 
    height: 100vh; 
  }
  
  .canvas-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000; 
  }
  
  
  header {
    grid-area: header;
    grid-row: 1; 
  }
  
  main.content-wrapper {
    grid-area: content-wrapper;
    grid-row: 3;
    overflow-y: auto; 
    padding: 20px; 
  }
  
  /* Footer styles */
  footer {
    grid-area: footer;
    grid-row: 4; 
  }
  