.display-container {
  display: flex;
}

.display-content {
  flex: 1; 
  padding: 20px;
}

@media (max-width: 768px) {
  .display-container {
    flex-direction: column;
  }

  .display-content {
    padding: 10px;
  }
}
